.headerTime {
  float: left;
  background-color: #FFE3AA;
  background-image: url(../img/swirlyheader.png);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100&;
  margin: 0px auto;
  padding-bottom: 20px;
}

.headerTime h1 {
  text-align: left;
  font-size: 45px;
  padding-left: 15px;
  font-weight: bold;
  color: #FFE3AA;
  text-shadow: #553900 3px 3px;
}

body {
  font-family: Palantino;
}

.userInput {
  background-color: #AA8539;
  background-image: url(../img/swirlyinput.png);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100&;
  margin: 0px;
  padding-bottom: 25px;
}

#userInput label {
  color: #FFE3AA;
  text-shadow: #553900 2px 2px 1px;
  font-weight: bold;
}

.userInput {
  font-family: monospace;
  font-size: 18px;
  text-align: center;
  color: #553900;
}

.resultSection {
  background-color: #FFE3AA;
  background-image: url(../img/resultsbackground.png);
  background-position: top center;
  background-repeat: repeat-y;
  background-size: 100% 100%;
  width: 100%;
  min-height: 275px;
  border: 3px solid #AA8539;
  margin: 0px;
  position: relative;
}

.resultsList {
  font-size: 18px;
  -webkit-columns: 4;
  -moz-columns: 4;
  columns: 4;
  color: #FFE3AA;
  max-width: 70%;
}

.footer {
  background-color: #FFE3AA;
  background-image: url(../img/swirlyheader.png);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100&;
  margin: 0px auto;
}

.footer a {
  color: #553900;
  font-size: 24px;
  text-shadow: #ffe3aa 2px 2px 1px;
}

.footerContent {
  float: right;
  background-color: #805D15;
  border-radius: 10px;
  max-width: 400px;
  margin-top: 20px;
  margin-bottom: 20px;
  box-shadow: 6px 4px 3px #805D15;
  text-align: right;
  padding-top: 8px;
}

.footerContent h4 {
  color: #FFFFFF;
  text-shadow: #553900 1px 1px;
}
