.headerTime {
  float: left;
  background-color: #FFE3AA;
  background-image: url(../img/swirlyheader.png);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100&;
  margin: 0px auto;
  padding-bottom: 16px;
}

.headerTime h2 {
  text-align: center;
  font-weight: bold;
  color: #FFE3AA;
  text-shadow: #553900 2px 2px;


}

body {
  font-family: Palantino;
}

.userInput {
  background-color: #AA8539;
  background-image: url(../img/swirlyinput.png);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100&;
  margin: 0px;
  padding-bottom: 25px;
}

#userInput label {
  color: #553900;
}

.userInput {
  font-family: monospace;
  font-size: 16px;
  text-align: center;
  color: #553900;
}

.resultSection {
  background-color: #FFE3AA;
  background-image: url(../img/resultsbackground.png);
  background-position: top center;
  background-repeat: repeat-y;
  background-size: 100% 100%;
  width: 100%;
  border: 3px solid #AA8539;
  margin: 0px;

}

.resultsList {
  font-size: 18px;
  -webkit-columns: 4;
  -moz-columns: 4;
  columns: 4;
  color: #FFE3AA;
  padding-right: 63px;
  padding-left: 45px;
}

.footer {
  background-color: #FFE3AA;
  background-image: url(../img/swirlyheader.png);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #FFE3AA;
  text-shadow: #553900 1px 1px;
  width: 100%;
  height: 100&;
  margin: 0px auto;
}

.footer a {
  color: #8d86e3;
}

.footer small {
  color: #FFFFFF;
  text-shadow: #553900 1px 1px;
}

.footerContent {
  float: right;
  background-color: #805D15;
  border-radius: 10px;
  max-width: 400px;
  margin-top: 20px;
  margin-bottom: 20px;
  box-shadow: 6px 6px 3px #805D15;

}

.userLink a p {
  display: none;
}

.userLink a:hover p {
  display: block;
}
